<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" , content="width=device-width, initial-scale=1.0"></meta>
    <title>Керамическая флористика, подарки, украшения, цветы. Обучение, мастер классы в Нижнем Новгороде. Купить, заказать подарки
        сделанные своими руками.Hand-made, оригинальный подарок.
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="client/www/app.css">
</head>

<body>
    <div id="wrapper">
       <h1>Главная</h1>
    </div>
    <script src="client/www/app.js"></script>
</body>

</html>