<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport", content="width=device-width, initial-scale=1.0"></meta>
        <title>Керамическая флористика, подарки, украшения, цветы. 
            Обучение, мастер классы в Нижнем Новгороде. 
            Купить, заказать подарки сделанные своими руками.Hand-made, оригинальный подарок.
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div>
 		   		<header>
        <div class="clear"></div>
    </header>
    <nav>
        <div class="nav">
            <img class="navbar-butterfly" src="/images/navbar/butterfly.png" />
            <img class="navbar-butterfly2" src="/images/navbar/butterfly2.png" />
            <img class="navbar-butterfly3" src="/images/navbar/butterfly3.png" />
            <div class="navbar-button">
                <a href="/"><img src="/images/navbar/button-main.png" /></a>
            </div>
            <div class="navbar-button">
                <a href="/about"><img src="/images/navbar/button-about.png" /></a>
            </div>
            <div class="navbar-button">
                <a href="/catalog"><img src="/images/navbar/button-catalog.png" /></a>
            </div>
            <div class="navbar-button">
                <a href="/lessons"><img src="/images/navbar/button-mk.png" /></a>
            </div>
            <div class="navbar-button">
                <a href="/contacts"><img src="/images/navbar/button-contacts.png" /></a>
            </div>
        </div>
        <div class="nav-mobile">
            <div class="nav-mobile-button">
                <img src="/images/burger-button.png" />
            </div>
            <ul class="nav-mobile-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/about">Обо мне</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/lessons">Обучение</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
    </nav>
    <main id="main">
    </main>
    <div class="clear"></div>
    <footer id="footer">
        <div class="footer-content">
            <div class="footer-content-regulations">
                <p class="footer-content-regulations-title">Условия использования материалов ресурса:</p>
                <p class="footer-text ">Все фотографии на данном ресурсе являются собственностью Агафоновой Галины Владимировны.</p>
                <p class="footer-text">Запрещено использование любого контента данного ресурса для получения коммерческой выгоды. </p>
                <p class="footer-text">При размещении материалов на сторонних ресурсах обязательна ссылка на первоначальный ресурс-источник.
                </p>
            </div>
            <div class="footer-content-icons">
                <a href="https://vk.com/zivem_so_vkusom"><img class="footer-content-icons-img" src="/images/vk.png" /></a>
                <a href="https://ru-ru.facebook.com/people/Galina-Agafonova/100005326959410"><img class="footer-content-icons-img" src="/images/fb.png" /></a>
                <a href="https://www.instagram.com/art_pastille"><img class="footer-content-icons-img" src="/images/in.png" /></a>
                <a href="https://www.livemaster.ru/zivem-so-vkusom"><img class="footer-content-icons-img" src="/images/ym.png" /></a>
            </div>
            <div class="footer-content-developer">
                <p class="footer-title footer-content-developer-title">Дизайн и разработка: <a href="https://vk.com/vlad.vlad.vlad">ArtBox</a></p>
            </div>
            <div class="footer-content-contacts">
                <p class="footer-title footer-content-contacts-title">Cвязаться с нами: </p>
                <p class="footer-text footer-content-contacts-text">г.Нижний Новгород</p>
                <p class="footer-text footer-content-contacts-text">тел: <u>+7(903)8482661</u></p>
                <p class="footer-text footer-content-contacts-text">e-mail: <u>galina.agafonova.2013@mail.ru</u></p>
            </div>
        </div>
        <div class="footer-content-mobile">
            <div class="footer-content-icons">
                <a href="https://vk.com/zivem_so_vkusom"><img class="footer-content-icons-img" src="/images/vk.png" /></a>
                <a href="https://ru-ru.facebook.com/people/Galina-Agafonova/100005326959410"><img class="footer-content-icons-img" src="/images/fb.png" /></a>
                <a href="https://www.instagram.com/art_pastille"><img class="footer-content-icons-img" src="/images/in.png" /></a>
                <a href="https://www.livemaster.ru/zivem-so-vkusom"><img class="footer-content-icons-img" src="/images/ym.png" /></a>
            </div>
    
            <div class="footer-content-contacts">
                <p class="footer-title footer-content-contacts-title">Cвязаться с нами: </p>
                <p class="footer-text footer-content-contacts-text">г.Нижний Новгород</p>
                <p class="footer-text footer-content-contacts-text">тел: <u>+7(903)8482661</u></p>
                <p class="footer-text footer-content-contacts-text">e-mail: <u>galina.agafonova.2013@mail.ru</u></p>
            </div>
            <div class="footer-content-regulations">
                <p class="footer-content-regulations-title">Условия использования материалов ресурса:</p>
                <p class="footer-text ">Все фотографии на данном ресурсе являются собственностью Агафоновой Галины.</p>
                <p class="footer-text">Запрещено использование любого контента данного ресурса для получения коммерческой выгоды. </p>
                <p class="footer-text">При размещении материалов на сторонних ресурсах обязательна ссылка на первоначальный ресурс-источник.
                </p>
            </div>
            <div class="footer-content-developer">
                <p class="footer-title footer-content-developer-title">Дизайн и разработка: <a href="https://vk.com/vlad.vlad.vlad">ArtBox</a></p>
            </div>
        </div>
    </footer>
		    </div>
    </body>
</html>